[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
click = "*"
cvxopt = "*"
cycler = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
itsdangerous = "*"
jinja2 = "*"
kiwisolver = "*"
mako = "*"
markupsafe = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pulp = "*"
pyparsing = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
flask-cors = "*"
pytest = "*"
coverage = "*"
xlrd = "*"
authlib = "*"
requests = "*"
mysqlclient = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
coverage-report = "coverage report"
coverage-test = "coverage run --source='./server' -m pytest"
serve = "python main.py"
test = "python -c 'import os; os.system(\"pipenv run coverage-test ; pipenv run coverage-report\")'"
