[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
authlib = "*"
django-cors-headers = "*"
uwsgi = "*"
requests = "*"
pandas = "*"
xlrd = "*"
pulp = "*"
cvxopt = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "python workforceAPI/manage.py runserver"
makemigrations = "python workforceAPI/manage.py makemigrations"
migrate = "python workforceAPI/manage.py migrate"
createsuperuser = "python workforceAPI/manage.py createsuperuser"
collectstatic = "python workforceAPI/manage.py collectstatic"
deploy = "uwsgi --chdir=/home/ubuntu/workforce-frontend/backend/workforceAPI --module=workforceAPI.wsgi:application --env DJANGO_SETTINGS_MODULE=workforceAPI.settings --master --pidfile=/tmp/project-master.pid --socket=/tmp/uwsgi.sock --chmod-socket=666 --processes 4 --threads 2"
